@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="text"],
  select {
    @apply border-gray-300 focus:border-primary-500 focus:ring-primary-500;
  }

  button {
    @apply inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-primary-600 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
}
